<!doctype html>
<html lang="en">
<head>
    ${require('_partials/meta_data.ejs')}
</head>
<body>
    <div id="app" style="width:100%;height:100%;"></div>
    
    <script>
    if ('serviceWorker' in navigator)  window.addEventListener('load', function() {
        navigator.serviceWorker.register('./js/new-tab-sw.js');
    });
    </script>
</body>
</html>
